ACCESS_TOKEN_SECRET=
ACCESS_TOKEN=
CHROME_PATH=/usr/local/bin/google-chrome
CHROMEDRIVER_PATH=/usr/local/bin/chromedriver
CONSUMER_KEY=
CONSUMER_SECRET=
DATA_DIR=data
ENRICHR_URL=https://amp.pharm.mssm.edu/Enrichr
LOOKUP_GMT=./ukbiobank1.gmt
LOOKUP_RESULTS=../../results/results.tsv
TWEET_STORAGE_PATH=../../tweets/